html, body
{
  height: 100%;
  margin: 0;
}

body
{
background: linear-gradient(to right top, #934caf, #8b2586, #391442, #341e38, #270430);
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}